<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
</head>
<body>
    <header>


    </header>
    <section>
        <aside>
            <ul>
                <li>Zpotify</li>
                <li>Whatsapp</li>
            </ul>
        </aside>
        <main>
            <header>
                <h3>Zpotify</h3>
            </header>
            <section>
                <iframe src="../Zpotify/index.html" frameborder="0"></iframe>
            </section>
        </main>
    </section>
</body>
</html>