body{
	margin: 0;
	font-family: Roboto;
    font-style: normal;
}
*{
	box-sizing: border-box;
}
main{
	display:block;
}
header{
	text-align: center;
}
img{
	width: 80px;
	height: 80px;
	border-radius: 45%;
}
.contenedor{
	margin: 0 auto;
	display: grid;
	border-radius: 30px;
	width: 500px;
	padding: 30px;
	background: #E5E5E5;
	border: 1px solid #29CEFF;
}
.contenedorArtistas{
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.34%;
}
.contenedorArtistas article{
	padding: 10px;
	grid-gap: 10px;
	text-align: center;
	border: 1px solid #29CEFF;
	border-radius: 20px;
	background: #5AD2AE;
	color: #FFFFFF;
	margin: 0 15px 15px 15px;
}
.contenedorArtistas article p{
	margin: 0;
}